{% extends "layout.html" %}

{% block content %}
	<div class="container">
		<div class="row text-center">
			<div class="col-md-3"></div>
			<div class="col-md-2">
				<a href="#">Last</a>
			</div>
			<div class="col-md-2">
				<a href="#">Archive</a>
			</div>
			<div class="col-md-2">
				<a href="#">Next</a>
			</div>
			<div class="col-md-3"></div>
		</div>
	</div>
	<div class="container col-md-8">
		<br>
		<br>
		{% for post in posts %}
			<h3><b>{{post.artist}} - {{post.title}}</b></h3>
			<div class="row">
				<div class="col-md-4">
					<img src="{{post.album_cover}}" alt="{{post.title}} album cover" width=100%>
					<br>
					<br>
					<h5><b>Genre:</b> Hip Hop</h5>
					<h5><b>Released:</b> 12 Dec. 2012</h5>
				</div>
				<div class="col-md-8">
					<h5 class="body-text">{{post.body|linebreaks}}</h5>
				</div>
			</div>
		{% endfor %}
		<br>
	</div>

</div>
{% endblock %}