{% extends "layout.html" %}

{% block content %}
	{% if post != 0 %}
	<div class="container">
		<div class="row text-center">
			<div class="col-md-3"></div>
			<div class="col-md-2">
				{% if last_post_id != 0 %}
					<a href="{% url 'show_post' last_post_id %}" class="top-link">Last</a>
				{% else %}
					<a href="{% url 'show_post' post.id %}" class="black-link top-link">Last</a>
				{% endif %}
			</div>
			<div class="col-md-2">
				<a href="{% url 'index_posts' %}" class="top-link">Archive</a>
			</div>
			<div class="col-md-2">
				{% if next_post_id != 0 %}
					<a href="{% url 'show_post' next_post_id %}" class="top-link">Next</a>
				{% else %}
					<a href="{% url 'show_post' post.id %}" class="black-link top-link">Next</a>
				{% endif %}
			</div>
			<div class="col-md-3"></div>
		</div>
	</div>
	{% endif %}
	<div class="container col-md-8">
		<br>
		<br>
		{% if post != 0 %}
			<h3><b>{{post.artist}} - {{post.title}}</b></h3>
			<div class="row">
				<div class="col-md-4">
					<img src="{{post.album_cover}}" alt="{{post.title}} album cover" width=100%>
					<br>
					<br>
					<h5><b>Genre:</b> {{post.genre.name}}</h5>
					<h5><b>Released:</b> {{post.release_date}}</h5>
					<h5><b>Reviewer:</b> {{post.reviewer.first_name}} {{post.reviewer.last_name}}</h5>
				</div>
				<div class="col-md-8">
					<h5 class="body-text">{{post.body|linebreaks}}</h5>
				</div>
			</div>
		{% else %}
			<br>
			<br>
			<h4 class="text-center">No Reviews to Display</h4>
		{% endif %}
		<br>
	</div>

</div>
{% endblock %}