@font-face {
  font-family: MessyTypewriter;
  src: url("res/fonts/messy-typewriter.ttf");
}

@font-face {
  font-family: CleanTypewriter;
  src: url("res/fonts/clean-typewriter.ttf");
}

body {
	font-family: CleanTypewriter !important;
	background-color: #eec491 !important;
	background-image: url("res/img/texture.png");
}

h1, h2, h3 {
    font-size: 2.5em !important;
}

.top-link {
    font-size: 2em;
}

.no-style-link {
  font-style: none;
  text-decoration: none !important;
}

.no-style-link:hover {
  color: #323232;
}

.black-link {
    color: black;
}

.hovered {
    opacity: .6;
}

a {
    text-decoration: none;
    color: #33D;
}

.body-text {
  text-indent: 20px;
}

.sticky-footer {
  width: 50vw;
  position: absolute;
  bottom: 20px;
  left: 25vw;
}

.logo {
  width: 160px;
}
.logo:hover {
  opacity: 0.8;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}